# US locale/kbd map
d-i debian-installer/locale string en_US
d-i debian-installer/language string en
d-i debian-installer/country string IR
d-i debian-installer/locale string en_US.UTF-8

# automatically select network interface
d-i netcfg/choose_interface select auto

# set host and domain
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string

# disable WEP dialogue
d-i netcfg/wireless_wep string

d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_options select Configure network manually

# network
d-i netcfg/get_ipaddress string 192.168.2.220
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 192.168.2.1
d-i netcfg/get_nameservers string 8.8.8.8
d-i netcfg/confirm_static boolean true

# use http.us.debian.org as mirror with no proxy
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# don't make a regular user / set root password
d-i passwd/make-user boolean false
d-i passwd/root-password password 12345678
d-i passwd/root-password-again password 12345678


# hardware clock is UTC, timezone is US/Eastern, use ntp to set clock
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Tehran
d-i clock-setup/ntp boolean true

# use lvm partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# make lvm the max size
d-i partman-auto-lvm/guided_size string max
# use the following partition scheme on /dev/sda
d-i partman-auto/disk string /dev/sda
d-i partman-auto/choose_recipe select atomic

# remove any RAID partitioning
d-i partman-md/device_remove_md boolean true

# don't confirm anything
d-i partman-basicfilesystems/no_mount_point boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# setup non-free and contrib repositories
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# install standard system with ssh-server
tasksel tasksel/first multiselect standard, ssh-server

# upgrade all packages
d-i pkgsel/upgrade select full-upgrade

# disable popularity contest
popularity-contest popularity-contest/participate boolean false

d-i preseed/late_command string \
	in-target sh -c 'sed -i "s/^#PermitRootLogin.*\$/PermitRootLogin yes/g" /etc/ssh/sshd_config'

# force grub install to /dev/sda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# don't wait for confirm, just reboot when finished
d-i finish-install/reboot_in_progress note

